#item-title {
  @media (min-width: $screen-sm) {
    //@extend  #intro-first-page;
    padding: 29px;
    border-radius: 5px;
    //background-color: #F2CEB6;
    //border: 1px solid #e7a579;
    border: 1px solid #F2CEB6;;
  }
  text-align: center;
  margin: 0;
  font-weight: bold;
  line-height:1.4;
  >small{
    display: block;
    text-align: right;
    margin-top: 0.8em;
    font-size: 70%;
  }
}

.item-info {
  color: #777;
  font-size: 12px;
  margin-top:15px;
  margin-bottom: 25px;
  //padding-bottom:5px;
  //border-bottom: 0.5px #eee solid;
  text-align: right;
  > span {
    margin-left: 45px;
  }
}


