
#body {
  > .footnotes-sep {
    display: block;
    margin-top: 130px;
  }
  > .footnotes {
    display: block;
    > .footnotes-list {
      padding-left: 18px;
      font-size: 14px;
      >li>p{
        margin-bottom: 10px;
        > a{
          font-weight: 600;
        }
      }
    }
  }
}


.z-postscript{

  margin-top: 130px;
  border-top: dashed 1px lightgray;
  padding-top: 20px;
  >h2{
    margin: 28px 0 20px;
    font-weight: 600;
    background-color: lightgray;
    padding: 17px 12px;
    line-height: 1.4;
  }
}
.z-ref {
  margin-top: 130px;
  border-top: solid 1px lightgray;
  padding-top: 20px;
  > h2 {
    font-size: 20px;
    font-weight: bold;
  }
}
