
.middle-for-item-quote{
  width:650px ;
  margin:auto;
  @media (max-width: 800px){
    width:100%;
    padding:0 0px;
  }
}

#QItem {
  //margin-top: 80px;
  //min-height: 150px;
  border-left-width: 0;
  padding: 0;
  //border-bottom: 1px solid #eee;
  font-size:17px;
  >p{
    >.footnote-ref{
      display: none;
    }
  }
}

#QItem-hr{
  margin-bottom: 38px;
}

#QItem-img {
    display: block;
    max-width: 100%;
}

.quote-item-cite{
  margin-top:2em;
}


