
.simple-input {
  border-width: 0;
  padding: 0;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.simple-label {
  font-weight: normal;
  margin-bottom: 0;
}

.one-line-input {
  > input, > .simple-label {
    width: auto;
    margin-right: 20px;
    @extend .pull-left;
  }
}

#select-column {
  margin-bottom: 20px;
  border: 0;
  > select {
    width: 110px;
  }
  & .select2-selection--single {
    border-width: 0;
  }
}

.simple-input-group {
  margin-bottom: 20px;
  & + .simple-input-group {
    border-top: 1px solid #efefef;
    padding-top: 20px;
  }
  > .simple-input {
    margin-bottom: 5px;
  }

}

#settings > .radios {
  margin-bottom: 10px;
  > label {
    width: 80px;
  }
}

