/**
re-define bootstrap vars
 */

//== Scaffolding

$link-hover-decoration: none; //underline !default;
$link-color: #333; //         $brand-primary !default;

//== Typography

$font-family-sans-serif: Arial, SimSun, sans-serif;
$font-size-h1: 30px; /* 30px */
$font-size-h2: 25px; /* 30px */
$font-size-h3: 22px; /* 24px */
$font-size-h4: 19px; /* 18px */
//h5 15px
//h6 12px
$font-size-base: 16px !default;
$font-size-h45: 17px;

$line-height-base: 1.8; //   1.428571429 !default; // 20/14

$blockquote-font-size: 18.5px; //       ($font-size-base * 1.25) !default;

//== Navbar
//
//$navbar-inverse-bg:                       #2f4f4f !default; //  #222 !default;
//$navbar-inverse-color:                      lighten($gray-light, 15%) !default;
$navbar-inverse-link-hover-color: #ddd;

//== Forms
//
//##

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                default;
