

#item-no{
  text-align:right;
  color: #555;
  float: right;
  z-index: 1; // otherwize in small screen, it will be covered by map
  >button{
     border-color: #fff;
  }
}

#dropDownCaret{
  margin:-4px 0 0 10px;
}

.middle{
  width:700px;
  margin:auto;
  @media (max-width: $screen-sm){
    width:100%;
    padding:0 25px;
  }
}

#item {
  margin-bottom: 150px;
}
#item-no-header{
  margin-bottom: 150px;
  margin-top:27px;
}

