

@media (max-width: $screen-sm-min) {
  #navbar{
    margin-bottom: 20px;
  }
}

/**
 *  navbar
 * -------------------------- */

#logo {
  padding-top: 9px;
  padding-left: 25px;
  > img {
    width: 29px;
    height: 24px;
  }
}

#navbar {
  @extend .heiti;
}



#navbar-nav-left{
  font-size:15px;
}

.nav-item-split{
  padding:10px 2px;
}



/**
 *
"Multi level dropdown menu BS3"
https://codepen.io/ajaypatelaj/pen/prHjD?editors=1000#0

不支持点击父菜单 所以添加了js 见：navbar-nav-left.blade.php

 * -------------------------- */


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;

  @media (max-width: $screen-sm-min){
    list-style: initial;
    padding-left: 35px;
  }
}


.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 10px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
