$affix-top: 30px;

#side{
  //margin-top: 15px; // 这个值关系到　zc.content.initSideAffix
  //margin-left: XXX; // 这个值由 js side400()决定
}

#side-first-page {
  @extend #intro-first-page;
  padding: 15px 10px 5px !important;
}

// 用在显示图像上
//#side-first-page-white {
//  margin-top: 15px; // 这个值关系到　zc.content.initSideAffix
//  margin-left: 85px;
//}
//#quote-img{
//  >img{
//    border-radius: 15px;
//  }
//}
@media (min-width: $screen-sm-min) {
  #side{
    max-width:400px;
  }
}
@media (max-width: $screen-sm-min) {
  #LMap-box{
    margin-bottom:20px;
    border-bottom:1px dotted gray;

  // purpose: map cover text
    background-color: #fff;
    margin-top: - $affix-top;
    padding-top: $affix-top;
  }
  #LMap{
    height:42%;
  }
}

.affix {
  position: fixed;
  top: $affix-top;
  z-index: 2; //  used for initTopAffix().  in xs screen , map should cover text, not bellow text
}
.affix-bottom {
  position: absolute;
  z-index: 2; //  used for initTopAffix().  in xs screen , map should cover text.
}
#LMap-info{
  font-size:12px;
  margin-top:15px;
  margin-left:5px;
}
#LMap-info-addr{
  margin-bottom:8px;
  font-weight: bold;
  opacity: 0.8;
}


////////////////
//  top quotes
////////////////
.top-quote-box{
  +.top-quote-box{
    display: none;
  }
}
