#M-name{
  margin: 5px 0 22px;
  font-weight:bold;
}

#col-first-page{
  @extend .first-page-middle;
  //@extend .first-page;
  background-color: lightblue;
  margin-bottom: 25px;
}
#col-first-page-close{
  font-weight:normal;
  font-size: 40px;
  position: absolute;
  right:24px;
  top:0;
}
#col-first-page-open{
  float: right;
  display: none;
  margin-right:17px;
  border-width:9px;
  color: lightblue;
}

/**
medida quote
 */
#MQL{
  //border-bottom: darkgray solid 1px;
  >.slick-dots{
    margin:20px 0 20px;
    //padding-right:28px;
    text-align: right;
    >li{
      margin-right:5px;
      border-bottom-width:0;
      border-top: 7px solid #777;
      border-radius: 8px;
      >button{
        width:15px;
      }
    }
    > li.slick-active {
      border-bottom-width:0;
      border-color: #eee;
    }
  }
}
.MQ-box+.MQ-box{
  display: none;
}
.MQ{
  font-size:inherit;
  border-width:0;
  margin-bottom:10px;
  //padding-top: 28px;
  padding:0;
}
.MQ-body{
  min-height:5em;
  margin-bottom:30px;
}
.MQ-cite{
  &:before{
    content: "—— ";
  }
  display: block;
  text-align: right;;
  font-size:14px;
}









/**
info
 */




#M-info{
  height:2.1em;
  overflow: hidden;
  padding-top:15px;
  cursor: pointer;
  margin-top:-12px;
}
#M-pic-box{
  max-width:50px;
  overflow: hidden;
  margin-right:8px;
  border-radius:3px;
  //.show>div>&{
  //  border-radius:5px;
  //}
}
#M-pic{
  max-width:100%;
}
#M-info-list{
  font-size:12px;
  margin-bottom:5px;
}

.li-name{
  color: #999;
}
#M-intro{
  font-size:12px;
}


#LMap-info-title{
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom:7px;
}


#side-more{
  font-size:12px;
}


/**
comment
 */

#MCL{
  margin: 10px 0 20px;
  border-top: 1px solid lightgray;
  padding-top:20px;
}
.MC-box{
  margin-bottom:12px;
}
.MC {
  padding: 0;
  margin:0;
  border-width: 0;
  font-size: 12px;
}





/**
article
 */
@media (min-width: $screen-sm-min){
  #MAL {
    margin-top: -25px;
  }
}
.prefix-col-name-select{
 @extend .prefix-col-name-2;
  &::before{
    content: 'C';
  }
}
.prefix-col-name-review{
  @extend .prefix-col-name-1;
  &::before{
    content: 'R';
  }
}


#M-guide{
  font-size:12px
}
.M-guide-title{
  border-radius: 20px;
  font-size: 14px;
  background-color: bisque;
  padding: 10px 25px;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  text-transform: capitalize;
}
#M-table{
  margin-top:20px;
}