

.mce-tinymce {
  margin-bottom:30px !important;
}

.mce-panel {
  border: 0 !important;
  background-color: transparent !important ;
  background-image: none !important;
  -webkit-filter: none !important;
  filter: none !important;
}
.mce-panel.mce-toolbar-grp {
  margin-left:-2px; // 平衡.mce-flow-layout-item 的2px
  margin-bottom: 15px;
}
.mce-statusbar > .mce-container-body > .mce-path {
  margin-left: 0;
  padding-left: 0;
}
.mce-path-item {
  color: #888 !important;
}


