
#quotes-slide{
  margin-top:250px;
  margin-bottom:-250px;
  >article{
    display: none;
  }
  padding:0 200px;
  @media (max-width: $screen-md-min) {
    padding:0 100px;
  }
  @media (max-width: $screen-sm-min) {
    padding:0 10px;
  }
}

.bottom-quote{
  font-size: 16px;
  padding: 0 10px 0 27px;
  border-left-width: 4px;
}
.bottom-quote-no{
  float: left;
  margin-right: 12px;
  line-height: 1.4;
  color: #777;
  font-size:15px;
}
.bottom-quote-title{
  font-size:16px;
  font-weight: bold;
}
.bottom-quote-body{
  margin-bottom:14px;
}

