/**
 *  footer
 * -------------------------- */
$footer-content-padding: 6px;
$contact-icon-hover-color: #000;

#footer {
  padding-bottom: 25px;
  margin-top: $footer_margin_top;
  color: #000;
}

#footer-first-row {
  margin-top: 40px;
  margin-bottom: 30px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

#me {
  font-size: 17px;
  margin: 0;
  padding: $footer-content-padding 0;
  border-radius: 4px;

  @media (max-width: $screen-sm-min) {
    opacity: 0.99;
  }
}

#contacts {
  font-size: 23px;
  > li > a {
    color: inherit;
    padding: $footer-content-padding + 2px;
    margin-left: 20px;
    line-height: 0;
    &:hover {
      > .contact-icon {
        color: $contact-icon-hover-color;
      }
    }
  }
}

#copyright {
  margin: 60px 0 30px;
  font-size: 14px;
  text-align: center;
  color: green;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

