$affix-top: 30px;

////

#side {
  //margin-top: 15px; // 这个值关系到　zc.content.initSideAffix
  //margin-left: XXX; // 这个值由 js side400()决定
}

@media (min-width: $screen-sm-min) {
  #side {
    max-width: 400px;
    float: right; // it would be disable by zc.sideMap : opts.side.ele.css('float','none');
  }
}

///

#side-first-page {
  @extend #intro-first-page;
  padding: 15px 10px 5px !important;
  position: relative;
}

// 用在显示图像上
//#side-first-page-white {
//  margin-top: 15px; // 这个值关系到　zc.content.initSideAffix
//  margin-left: 85px;
//}
//#quote-img{
//  >img{
//    border-radius: 15px;
//  }
//}

.affix {
  position: fixed;
  top: $affix-top;
  z-index: 2; //  used for initTopAffix().  in xs screen , map should cover text, not bellow text
}

.affix-bottom {
  position: absolute;
  z-index: 2; //  used for initTopAffix().  in xs screen , map should cover text.
}

#LMap-addr {
  position: absolute;
  bottom: 3px;
  right: 6px;
  font-size: 12px;
  color: #777;
}

#LMap-info {
  font-size: 12px;
  margin-top: 15px;
  margin-left: 5px;
}

#LMap-info-title {
  margin-bottom: 8px;
  font-weight: bold;
  opacity: 0.8;
}

///

@media (max-width: $screen-sm-min) {
  #LMap-box {
    padding-bottom: 30px;
    border-bottom: 1px dotted gray;
    margin-bottom: 26px;

    // purpose: map over text 让地图盖住下面滚动的文字
    background-color: #fff;
    margin-top: - $affix-top;
    padding-top: $affix-top;
    // over .read-more
    z-index: 11;

    //clearfix
    @include clearfix();

    > #side-first-page {
      width: 60%;
      float: left !important;
      margin-right: 5px;
    }
  }
  #LMap-info {
    margin-top: 0;
    min-height: 7em;
  }
}

@media (max-width: $screen-xs) {
  #LMap-box {
    padding-bottom: 10px;
    > #side-first-page {
      width: 260px;
    }

  }
}

////////////////
//  top quotes
////////////////
.top-quote-box {
  + .top-quote-box {
    display: none;
  }
}


