// http://www.ruanyifeng.com/blog/2014/07/chinese_fonts.html
.kaiti {
  font-family: Sylfaen, Arial, STKaiti, KaiTi, sans-serif !important;
}

//only chinese, no English letter
.pure-kaiti {
  font-family: STKaiti, KaiTi, sans-serif !important;
}

.heiti {
  font-family: Georgia, "Times New Roman", STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", serif !important;
}

.oneline-label {
  width: 100%;
}

.color-inherit {
  color: inherit;
}

.h2title {
  margin-bottom: 4.3%;
  letter-spacing: 3px;
  text-align: center;
  @extend .heiti;
}

.Big-Href {
  cursor: pointer;
}

.weak-opacity{
  opacity: 0.7;
  &:hover{
    opacity: 1;
  }
}

cite {
  font-style: normal;
}

.cite-tail {
  display: block;
  text-align: right;
  &:before {
    content: "—— ";
  }
}

.cite-tail-right {
  letter-spacing: 2px;
  text-align: right;
  @extend .cite-tail;
}

#QItem, #body, .QL-item-body {
  > p > a {
    padding-bottom: 4px;
    border-bottom: 1px solid chocolate;
  }
}
