#which-first-page {
  position: relative;
  padding: 3% 0 1.5%;
}

#which-loading {
  position: absolute;
  right: 20px;
  top: 2%;
  > .inner {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: red; /* $btn-warning-border; */
  }
}

#which {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  min-height: 400px; /* 尽量固定高度，避免内容变化时页面“跳动”*/
  @media (max-width: $screen-md) {
    width: 70%;
  }
  @media (max-width: $screen-sm-min) {
    width: 90%;
    min-height: 500px;
  }
}

#which-lu-box {
  position: relative;
  right: 200%;
}

.which-lu {
  margin-bottom: 30px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  > p {
    min-height: 40px;
  }
  &.active > .heart {
    color: red;
  }
}

.first-title {
  font-size: 26px;
  letter-spacing: 1px;
  margin-bottom: 35px;
}

.heart {
  float: right;
  margin-top: -1em;
  font-size: 1.3em;
  color: #fff;
  -moz-transition: color 0.8s ease-in;
  -webkit-transition: color 0.8s ease-in;
  -o-transition: color 0.8s ease-in;
  transition: color 0.8s ease-in;
}

/*
http://loading.io
*/
@-webkit-keyframes uil-battery-demo-anim1 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }
}

@-moz-keyframes uil-battery-demo-anim1 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }
}

@-ms-keyframes uil-battery-demo-anim1 {

  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }
}

@keyframes uil-battery-demo-anim1 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }
}

@-webkit-keyframes uil-battery-demo-anim2 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-moz-keyframes uil-battery-demo-anim2 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-ms-keyframes uil-battery-demo-anim2 {

  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes uil-battery-demo-anim2 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes uil-battery-demo-anim3 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }
}

@-moz-keyframes uil-battery-demo-anim3 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }
}

@-ms-keyframes uil-battery-demo-anim3 {

  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }
}

@keyframes uil-battery-demo-anim3 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }
}

@-webkit-keyframes uil-battery-demo-anim4 {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }
}

@-moz-keyframes uil-battery-demo-anim4 {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }
}

@-ms-keyframes uil-battery-demo-anim4 {

  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }
}

@keyframes uil-battery-demo-anim4 {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }
}

#which-loading > .inner:nth-of-type(1) {
  -ms-animation: uil-battery-demo-anim1 2.5s linear infinite;
  -moz-animation: uil-battery-demo-anim1 2.5s linear infinite;
  -webkit-animation: uil-battery-demo-anim1 2.5s linear infinite;
  -o-animation: uil-battery-demo-anim1 2.5s linear infinite;
  animation: uil-battery-demo-anim1 2.5s linear infinite;
}

#which-loading > .inner:nth-of-type(2) {
  -ms-animation: uil-battery-demo-anim2 2.5s linear infinite;
  -moz-animation: uil-battery-demo-anim2 2.5s linear infinite;
  -webkit-animation: uil-battery-demo-anim2 2.5s linear infinite;
  -o-animation: uil-battery-demo-anim2 2.5s linear infinite;
  animation: uil-battery-demo-anim2 2.5s linear infinite;
}

#which-loading > .inner:nth-of-type(3) {
  -ms-animation: uil-battery-demo-anim3 2.5s linear infinite;
  -moz-animation: uil-battery-demo-anim3 2.5s linear infinite;
  -webkit-animation: uil-battery-demo-anim3 2.5s linear infinite;
  -o-animation: uil-battery-demo-anim3 2.5s linear infinite;
  animation: uil-battery-demo-anim3 2.5s linear infinite;
}

#which-loading > .inner:nth-of-type(4) {
  -ms-animation: uil-battery-demo-anim4 2.5s linear infinite;
  -moz-animation: uil-battery-demo-anim4 2.5s linear infinite;
  -webkit-animation: uil-battery-demo-anim4 2.5s linear infinite;
  -o-animation: uil-battery-demo-anim4 2.5s linear infinite;
  animation: uil-battery-demo-anim4 2.5s linear infinite;
}

