
.yilu-firstpage-text {
  font-size: $font-size-h45;
  line-height: 1.8;
  @extend .heiti;
}

.checkbox-with-text {
  margin-top: 9px !important; // 和文字对齐 bootstrap默认的4px对不齐了，可能是我调整了line-height?
}

$well-with-slides-padding: 30px;

#first-page-column-title {
  font-size: 26px;
  margin-bottom: 30px;
}

#first-page-column-img {
  display: inline-block;
  margin-right: 7px;
  vertical-align: bottom;
  width: 45px;
  height: 45px;
}

#intro-first-page{
  text-align: left;
  padding: 29px;
  border-radius: 10px;
  background-color: lightblue; //#C7E5EE;
  border: 1px solid #BEE0EB;
  //font-size: $font-size-h45;
}

#intro-first-page-side {
  margin: 28px 45px 0px 35px;
  font-size:13px;
  color: #888;
  @media (max-width: $screen-sm) {
    margin:20px 25px 20px;
  }
}

.first-page-below-hr{
  margin-bottom:50px;
}

//.well-on-lightblue {
//  @extend .well;
//  background-color: #C7E5EE;
//  border: 1px solid #BEE0EB;
//}
//
//.well-with-slides {
//  padding: 0;
//  margin-bottom: 0;
//  > div > div > .slick-slide {
//    padding: $well-with-slides-padding; // 把.well默认的padding转移到slide上，这样点击时显示的slide边框较美观
//  }
//}
//
.zc-slides {
  > div + div {
    display: none; // 在js之前，保证只显示一项内容
  }

}

/* index
==================
*/
#yilu-login-intro {
  margin: 14% 3em 0 3.5em;
  > footer {
    text-align: right;
    padding-right:15px;
  }
  @media (max-width: $screen-md) {
    margin: 7% 1em 1.5em 2em;
  }
  @media(max-width: $screen-sm) {
    margin: 0 2em 3em;
  }
}

.first-page-middle {
  /* no use padding:8.5% 0 7.5% , becuase 0 break sth.  */
  padding-top: 8.5%;
  padding-bottom: 7.5%;
}

.first-page-below {
  padding-top: 70px;
}

.make-footer-margin-top-smaller {
  margin-bottom: $footer_margin_top_small - $footer_margin_top ;
}

#login {
  //margin: 0 3em;
  @media(max-width: $screen-sm) {
    margin: 0 2em 0em;
  }
}

#login-btn {
  letter-spacing: 0.2em;
  font-size: $font-size-h4;
  margin-bottom: 25px;
}

.login-btn {
  margin-left: 15px;
  font-family: SimSun;
  color: #777;
}



/* under
==================
*/

#under-skies{
  font-size:$font-size-h45;
  >div{
    margin-bottom:40px;
  }
}


/* imagine
==================
*/


// 圆形导航
//<ul class="nav nav-dots pull-right" role="tablist">
//<li role="presentation" class="active"><a class="imagine-nav" href="#imagine-1-1"
//aria-controls="home"
//role="tab" data-toggle="tab">a</a></li>
//<li role="presentation"><a class="imagine-nav" href="#imagine-1-2"
//aria-controls="profile" role="tab"
//data-toggle="tab">b</a></li>
//</ul>
//.nav-dots {
//  > li {
//    float: left;
//    + li {
//      margin-left: 2px;
//    }
//    > .imagine-nav {
//      padding: 9px;
//      border-radius: 13px;
//      background-color: #eee;
//      color: #fff;
//      width: 26px;
//      height: 26px;
//      line-height: 8px;
//      text-align: center;
//    }
//    &.active > .imagine-nav {
//      background-color: lightcoral;
//    }
//  }
//}

.imagine-hr {
  margin: 50px 0;
}

.list-items-bar{
  margin-bottom:35px;
}

.list-item-title {
  @extend p;
  font-weight: 700;
  font-size:$font-size-h45;
}
.list-item-body{
  font-size:$font-size-h45;
}
.list-item-foot {
  margin-top: 9px;
  color: #999;
}

.foot-time {
  margin-left: 15px;
}

.toggle-message {
  margin-left: 25px;
}


.double-p {
  margin-top: 30px;
}



/* townhall
==================
*/
.townhall-one {
  margin-top: 15px;
}

